NODE_ENV=""
AUTH_SECRET=""
DATABASE_URL=""
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""
CALENDLY_FORM_URL=""
NEXT_PUBLIC_BASE_URL=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""
INTERNAL_SECRET=""
GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_PRIVATE_KEY=""
GOOGLE_SPREADSHEET_ID=""
RESEND_API_KEY=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
